/* add your CSS here */


body{
	font-family: "Helvetica sans-serif";

}

.card{
	width: 400px;
	height: 600px;
	box-shadow: 8px 8px 8px 2px rgba(153, 153, 153, 0.9);
	padding: 10px 10px 10px 15px;
	border: 1px solid #ddd;
}
.imagem{

	border: 1px solid #ddd;

}

.bottom{
	width: 360px;
	height: 52%;
	border: 1px solid #ddd;
	padding: 16px 16px 16px 16px;


}

